body {
    background-color: rgb(252,130,74);
}

h1 {
    font-size: 30px;
    color: black;
    text-align: center;
}

h2 {
    color: black;
    font-size: 25px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0;
}

p {
    font-family: times;
    font-size: 20px;
}

.active {
    background-color: rgb(50,70, 50);
}

nav li {
  display: inline;
}

section {
 display: flex;
}

aside {
    margin-left:40px;
    flex: 1
}

article {
 margin-left:50px;
 margin-right:100px;
 flex: 4
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(200,65,3);
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
