body {
    background-color: #F6D9D9;
}

h1 {
    color: darkblue;
    text-align: right;
    font-family: times;
    padding-right: 50px;
}

h2 {
    color: darkblue;
    font-family: times;
}

p {
    font-family: times;
    font-size: 20px;
}

.active {
    text-decoration-style: double;
}

.centered {
    text-align: center;
}

.left {
  text-align: left;
  padding-left: 50px;
}

nav li {
  display: inline;
  float: left;
  font-family: times;
  color: white;
  overflow: hidden;
}

nav li a{
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%;
  grid-gap: 10px;
  background-color: #F6D9D9;
  color: #444;
}

.box {
  background-color: #F6D9D9;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

section {
 display: flex;
 padding-right: 50px;
 padding-left: 50px;
}

aside {
 flex: 1
}

article {
 flex: 4
}

footer {
    height: 100px;
    text-align: center;
}
